<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!-- 插件配置 problem is here  -->
    <!--    <plugins>-->
    <!--        &lt;!&ndash; 分表插件配置 &ndash;&gt;-->
    <!--        <plugin interceptor="com.google.code.shardbatis.plugin.ShardPlugin">-->
    <!--            <property name="shardingConfig" value="shard-config.xml"/>-->
    <!--        </plugin>-->
    <!--    </plugins>-->

</configuration>